<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>playground</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>DBTestServlet</display-name>
    <servlet-name>DBTestServlet</servlet-name>
    <servlet-class>playground.DBTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBTestServlet</servlet-name>
    <url-pattern>/db</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginWithPlainCookieServlet</display-name>
    <servlet-name>LoginWithPlainCookieServlet</servlet-name>
    <servlet-class>playground.login.basic.LoginWithPlainCookieServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginWithPlainCookieServlet</servlet-name>
    <url-pattern>/1_login_basic/login_with_plain_cookie/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginWithSession</display-name>
    <servlet-name>LoginWithSession</servlet-name>
    <servlet-class>playground.login.basic.LoginWithSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginWithSession</servlet-name>
    <url-pattern>/1_login_basic/login_with_session/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LogoutWithSessionServlet</display-name>
    <servlet-name>LogoutWithSessionServlet</servlet-name>
    <servlet-class>playground.login.basic.LogoutWithSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutWithSessionServlet</servlet-name>
    <url-pattern>/1_login_basic/login_with_session/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>playground.users.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/users/add</url-pattern>
  </servlet-mapping>
</web-app>